<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="reset-password">
    <h1>Reset Password</h1>
    <form action="{{ url_for('save_new_password') }}" method="post">
        <label for="new_password">Enter new password</label>
        <input type="password" name="new_password" placeholder="New Password" id="new_password" required>
        <input type="submit" value="Reset Password">
    </form>
    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}
</div>
</body>
</html>
