{% extends "base.html" %}
{% block title %}Biro - Retrieve Staff Accounts{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Staff Accounts</h1>

<div>
  {% if count == 0 %}
    <p>There are no staff accounts.</p>
  {% elif count == 1 %}
    <p>There is 1 staff account.</p>
  {% else %}
    <p>There are {{ count }} staff accounts.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Staff ID</th>
        <th>Username</th>
        <th>Position</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for staff in staff_list %}
        <tr>
          <td>{{ staff['staffID'] }}</td>
          <td>{{ staff['staff_username'] }}</td>
          <td>{{ staff['staff_position'] }}</td>
          <td>{{ staff['staff_password'] }}</td>
          <td>
            <a href="{{ url_for('update_user', username=staff['staff_username']) }}" class="btn btn-warning">Update</a>
            <form action="{{ url_for('delete_user', username=staff['staff_username']) }}" method="POST" style="display:inline;">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{ staff['staffID'] }}">
                Delete
              </button>

              <!-- The Modal -->
              <div class="modal" id="myModal_{{ staff['staffID'] }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Are you sure?</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete {{ staff['staff_username'] }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<style>

    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .display-4{
    font-size:30px;
  }
</style>
{% endblock %}
